{% extends "layout.html" %}

{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}

{% block pageTitle %}
  Request Allocations - Publish teacher training courses - GOV.UK
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Request Allocations
      </h1>

      <p>This is a prototype. This is where you will request allocations once the service becomes available.</p>

      <p>If you have any questions about requesting allocations and permission to recruit, contact us at <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a></p>

    </div>

  </div>
{% endblock %}
